body{    
    height: 100vh;
    width: auto;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #161616;
}

header{
    background-color: rgba(0,0,0,0.5);
}

#topo{
    padding: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    color: white;
}

img{
    height: 100%;
    width: auto;
}

#sabores, #pedido{
    color: white;
    padding: 7%;
    text-align: center;
}

#contato{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 7%;
    text-align: center;
}

input.quantidade{
    text-align: center;
    border: none;
    width: 20%;
    background-color: transparent;
    color: white;
}